  <!-- Main hero unit for a primary marketing message or call to action -->
  <div class="hero-unit">
    <h1>Eventica</h1>
    <p>Это сайт с помощью которого вы можете создать мероприятие и продавать билеты на него</p>
    <p><a class="btn btn-success btn-large">Зарегистрироваться</a></p>
  </div>

  <!-- Example row of columns -->
  <div class="row">
    <div class="event-list span8 offset1">
      <div class="event-unit">
        <div class = "e-date">
          <strong>SAT</strong>
          feb9
        </div>
        <h4><a href="#">Heading</a></h4>
        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
      </div>
      <hr class="e-divider">
       <div class="event-unit">
        <div class = "e-date">
          <strong>SAT</strong>
          feb9
        </div>
        <h4><a href="#">Heading</a></h4>
        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
      </div>

      <hr class="e-divider">

       <div class="event-unit">
        <div class = "e-date">
          <strong>SAT</strong>
          feb9
        </div>
        <h4><a href="#">Heading</a></h4>
        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
      </div>
    </div>
    <div class="adlist span3">
      <div class="adblock">
        <h2>Heading</h2>
        <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
        <p><a class="btn" href="#">View details &raquo;</a></p>
      </div>
    </div>
  </div>

  <hr>

